* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    margin-top: 100px;
}

main > * {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    width: 600px;
    margin: 10px auto;
}

div#title {
    text-align: center;
    padding: 10px;
}

div#content::-webkit-scrollbar {
    display: none;
}

div#content {
    padding: 10px;
    height: 500px;
    overflow-y: scroll;
}

div#add_contato_container {
    text-align: center;
    margin-bottom: 10px;
}

button#add_contato_btn {
    width: 510px;
    height: 50px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 1.2em;
    font-weight: bold;
}

button#add_contato_btn:hover {
    background-color: #bebebe;
}

table {
    border: 1px solid #000000;
    margin: auto;
    text-align: center;
    position: relative;
}

thead > tr > th {
    position: sticky;
    top: -10px;
    background-color: #686868;
    color: #FFFFFF;
}

tbody tr:nth-child(even) {
    background-color: #dadada;
}

tbody tr:nth-child(odd) {
    background-color: #FFFFFF;
}

tbody tr:hover {
    background-color: #0000007d;
    color: #FFFFFF;
}

td, th {
    border: 1px solid #000000;
    padding: 5px 10px;
}

span {
    cursor: pointer;
}

section#modal_container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(3px);
    display: none;
    align-items: center;
    justify-content: center;
}

div#modal {
    width: 500px;
    height: 400px;
    background-color: #686868;
    border-radius: 50px;
    border: 1px solid black;
}

div#exit_container {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    padding-right: 30px;
}

div#exit_container button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    svg {
        width: 90%;
        height: 90%;
    }
}

div#form_container, form {
    height: 325px;
}

div#form div.input_container {
    height: 70px;
    display: flex;
    align-items: center;
    padding-left: 30px;

    label {
        font-size: 1.2em;
        font-weight: bold;
        color: #FFFFFF;
    }

    input {
        height: 30px;
        width: 300px;
        border-radius: 10px;
    }
}

div#label_container {
    width: 100px;
}

div#submit_container {
    height: 115px;
    display: flex;
    align-items: center;
    justify-content: center;

    button {
        width: 200px;
        height: 50px;
        font-size: 1.2em;
        border-radius: 10px;
        cursor: pointer;
    }
}


